{% load django_bootstrap5 %}

<!doctype html>

<html lang="es">
<head>
<meta charset="utf-8">
<title>{% block title %}EcoEnergy{% endblock %}</title>
{% bootstrap_css %}
<style>
    .fondo-celeste {
        background-color: #0dcaf0;
    }
</style>
</head>

<body class="container py-4">

<nav class="d-flex justify-content-end gap-3 p-2">
    <a href="{% url 'dispositivos:inicio' %}">Inicio</a>
    <a href="{% url 'dispositivos:lista_zonas' %}">Zonas</a>
    <a href="{% url 'dispositivos:resumen_zonas' %}">Resumen</a>
</nav>

<main>
    {% block content %}{% endblock %}
</main>

{% bootstrap_javascript %}

</body>
</html>
